h1.col-md-7 {
	opacity: 0.7;
	font-weight: 400;
}
#front {
	text-align: center;
}
button.navbar-toggler.navbar-toggler-right {
	border-color: transparent;
	background-image: url('/img/hmbg.png');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 1.2rem;
}
button.btn.btn-primary {
	margin-bottom:1rem;
}
#mainCnt {
	padding-top: 5.625rem;
}
blockquote.blockquote {
	opacity: 0.7;
}
p.card-text {
	opacity: 0.85;
}
.padding-top {
	padding-top: 3rem;
}
blockquote:before {
	font-family: 'FontAwesome';
    content: '\f10e';
    font-size: 1.5rem;
    color: grey;
}
#gand,#sentm,#prop {
	text-align: center;
}
#gand:before {
    font-family: 'FontAwesome';
    content: '\f256';
    font-size: 3rem;
    color: red;
}
#sentm:before {
    font-family: 'FontAwesome';
    content: '\f087';
    font-size: 3rem;
    color: blue;
}
#prop:before {
    font-family: 'FontAwesome';
    content: '\f2b5 ';
    font-size: 3rem;
    color: green;
}
.teas > p {
	text-align: left;
}
#mainNav {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	font-weight: 500;
	background-color: white;
	opacity: 1;
	z-index: 1000;
	min-height: 4.25rem;
}
footer h5.text-center {
	font-size: 0.8rem;
	opacity: 0.7;
}
#e_c {
    display: none;    
    color: red; 
}
#logo {
	max-width: 100%;
	height: auto;
}
.fa-angle-up:before {
	font-family: 'FontAwesome';
    content: '\f106';
}
#navbarResponsive {
	margin-left: -8rem;
}
@media screen and (max-width: 319px){
	h1 {
		font-size: 2rem;
	}
}